doctype html
html(lang="en")
    - var pageTitle="CJSI: Lesson 1"
    include ../components/head/head.pug
    body
        include ../components/pageHeader/pageHeader
        include ../components/gallery/gallery
        include ../components/pageFooter/pageFooter.pug
