doctype html
html(lang="en")
    - var pageTitle="CJSI: Lesson 1"
    include ../components/head/head.pug
    body
        include ../components/pageHeader/pageHeader.pug
        h1 Hello world!
        include ../components/pageFooter/pageFooter.pug
