li.gallery__item
    a(href="#" style="background-image: url('../img/cover_windows8app.png')").gallery__itemImg
    .gallery__itemContent
        a(href="#"): h2.gallery__itemTitle Programming Windows 8 Apps
        a(href="#"): h3.gallery__itemSubtitle Devon Musgrave
        p.gallery__itemCategory Beginner
        p.gallery__itemDescr This book is about writing Windows Store apps using HTML5, CSS3, and JavaScript.
