section.gallery
    ul.gallery__list
        include galleryItem
        include galleryItem
        include galleryItem

        include galleryItem
        include galleryItem
        include galleryItem

        include galleryItem
        include galleryItem
        include galleryItem
        
        include galleryItem
        include galleryItem
        include galleryItem
